@media (max-width: 1230px) {
  .wrapper {
    width: 100%;
  }
  .blog__item,
  .catalog__item {
    margin-right: 0;
  }
  .blog__list,
  .catalog__list {
    margin-right: 0;
    justify-content: space-around;
  }
  .menu__btn {
    display: block;
    width: 25px;
    height: 25px;
    margin-left: 15px;
    background-image: url(../img/icons/menu.png);
    background-size: 16px 13px;
    background-repeat: no-repeat;
    background-position: right center;
  }
  .header__top,
  .search__wrap,
  .menu__wrap {
    display: none;
  }
  .search__open {
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(../img/icons/search.svg);
    background-repeat: no-repeat;
    background-size: 13px 13px;
    background-position: center;
  }
  .search {
    margin-left: 15px;
  }
  .header__shop {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-left: auto;
    color: @green;
    font-weight: 700;
    font-size: 12px;
    line-height: 1;
    text-decoration: none;
    
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 14px;
      height: 13px;
      background-image: url(../img/icons/basket-green.svg);
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  .header__bottom {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .logo {
    max-width: 123px;
  }
  .search__wrap--open {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    left: -15px;
    right: -15px;
    z-index: 10;
    background-color: #fff;
  }
  .search__close {
    display: block;
    margin-left: 15px;
    font-size: 12px;
    color: @green;
  }
  .search__form {
    border: 0;
    border-radius: 5px;
    background-color: rgb(235, 237, 243);
  }
  .search__btn,
  .search__input {
    height: 44px;
  }
  .search__input {
    background-color: rgba(255,255,255,0);
  }
  .menu__wrap {
    opacity: 0;
  }
  .menu__wrap--opened {
//    display: block;
    position: absolute;
    top: 0;
    left: -15px;
    right: -15px;
    z-index: 100;
    color: #fff;
    padding-top: 40px;
    background-color: @green;
    opacity: 1;
  }
  .menu__list {
    flex-direction: column;
    padding-bottom: 30px;
  }
  .menu__item {
    margin-left: 0;
    width: 100%;
    
    &:hover,
    &:active,
    &--active {
      .menu__link {
        color: #fff;
        .transition();
      }
    }
  }
  .menu__link {
    display: block;
    padding: 15px;
    color: #fff;
    font-size: 15px;
    text-align: center;
  }
  .menu__close {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 15px;
    right: 15px;
    background-image: url(../img/icons/close.png);
    background-repeat: no-repeat;
    background-size: 11px 11px;
    background-position: center;
  }
  .menu__mobile {
    display: block;
    padding: 0 15px;
    padding-bottom: 35px;
    text-align: center;
  }
  .header__phone,
  .header__call {
    color: #fff;
    text-align: center;
  }
  .header__phone {
    margin-bottom: 25px;
    padding-top: 35px;
    font-size: 20px;
    border-top: 1px dotted #fff;
  }
  .header__call {
    display: inline-block;
    vertical-align: middle;
    
    &::before {
      background-image: url(../img/icons/phone-white.svg);
    }
  }
  .card__info {
    padding-right: 0;
  }
  .card__number span {
    display: none;
  }
  .tabs__name {
    margin-right: 0;
  }
}

//---------------------------------------------
@media (max-width: 1022px) {
  .scheme__list {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .scheme__item {
    margin-bottom: 25px;
  }
  .wrapper__columns {
    display: block;
    padding-top: 5px;
  }
  .wrapper__content {
    width: 100%;
  }
  .sidebar__menu,
  .sidebar__slider {
    display: none;
  }
  .sidebar__list {
    margin-bottom: 0;
  }
  .sidebar {
    position: relative;
    max-width: 49%;
  }
  .sidebar__btn {
    height: 44px;
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    background-image: url(../img/icons/list.svg);
    background-repeat: no-repeat;
    background-position: right 15px center;
    background-size: 15px 15px;
    border-radius: 5px;
    background-color: rgb(77, 148, 113);
  }
  .catalog__sorting {
    top: -45px;
    max-width: 49%;
  }
  .sidebar__menu {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    padding: 15px;
    color: #fff;
    border-radius: 5px;
    background-color: @green;
  }
  .sidebar__item a {
    color: #fff;
  }
  .sidebar__close {
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 7px;
    right: 7px;
    z-index: 10;
    background-image: url(../img/icons/close.png);
    background-repeat: no-repeat;
    background-size: 11px 11px;
    background-position: center;
  }
  .card__wrap {
    display: block;
    padding-top: 0;
  }
  .card__pic {
    border: 0;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    
    &::before {
      display: none;
    }
  }
  .card__info {
    width: 100%;
  }
  .tabs__name a {
    padding: 10px 20px;
  }
}

//---------------------------------------------
@media (max-width: 766px) {
  .benefits__list {
    flex-wrap: wrap;
    padding-bottom: 30px;
  }
  .benefits__item {
    width: 50%;
    margin-bottom: 30px;
  }
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer__wrap {
    position: relative;
    flex-wrap: wrap;
    padding-top: 60px;
  }
  .footer__block--logo {
    order: 4;
    width: 100%;
  }
  .footer__block--menu {
    order: 1;
    width: 50%;
  }
  .footer__block--faq {
    order: 2;
    width: 50%;
  }
  .footer__block--contacts {
    order: 3;
    width: 100%;
  }
  .footer__logo {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 132px;
  }
  .footer__block address {
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 12px;
    text-align: center;
    line-height: 18px;
  }
  .footer__comment {
    font-size: 9px;
    text-align: center;
    line-height: 14px;
  }
  .footer__contacts {
    position: absolute;
    top: 5px;
    right: 0;
  }
  .footer__mail,
  .footer__phone {
    font-size: 12px;
    line-height: 16px;
  }
  .footer__item {
    margin-bottom: 0;
    
    a {
      display: block;
      font-size: 12px;
      line-height: 20px;
    }
  }
  .tabs__name a {
    font-size: 9px;
  }
}

//---------------------------------------------
@media (max-width: 599px) {
  .promo {
    padding-top: 35px;
    padding-bottom: 30px;
    background-image: url(../img/images/bg-mobile.jpg);
  }
  .promo__title {
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 28px;
  }
  .promo__subtitle {
    max-width: 165px;
    font-size: 13px;
    line-height: 19px;
  }
  .btn {
    width: 175px;
    height: 44px;
    font-size: 12px;
    border-radius: 5px;
    
    svg {
      height: 8px;
      width: auto;
      margin-left: 10px;
    }
  }
  .promo__btn {
    margin-top: 27px;
  }
  .benefits__item {
    margin-bottom: 25px;
    font-size: 12px;
    line-height: 16px;
  }
  .benefits__icon {
    height: 48px;
    margin-bottom: 15px;
    
    img {
      max-height: 48px;
      width: auto;
    }
  }
  .benefits__list {
    padding-bottom: 5px;
    padding-top: 25px;
  }
  .title {
    font-size: 22px;
    line-height: 1.2;
  }
  .catalog {
    .title {
      margin-top: 0;
    }
  }
  .catalog__list {
    margin-top: 0;
    justify-content: space-between;
  }
  .catalog__item {
    padding: 0;
    width: 49%;
    
    &:hover {
      box-shadow: none;
    }
  }
  .catalog__img {
    height: 110px;
    
    img {
      max-height: 110px;
    }
  }
  .catalog__text {
    display: block;
    font-size: 9px;
    line-height: 12px;
  }
  .catalog__title {
    margin-bottom: 5px;
    font-size: 10px;
    line-height: 12px;
  }
  .catalog__price {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .catalog__newprice {
    display: block;
    font-size: 12px;
  }
  .catalog__oldprice {
    display: block;
    font-size: 9px;
    margin-left: 10px;
  }
  .catalog__shop {
    width: 135px;
    height: 23px;
    max-width: 100%;
    margin-top: 10px;
    font-size: 9px;
    border-width: 1px;
    border-radius: 3px;
  }
  .catalog__labels {
    top: 0;
    left: 0;
    font-size: 9px;
    line-height: 1;
  }
  .catalog__btn {
    margin: 0;
    width: 100%;
    
    &:last-child {
      display: none;
    }
  }
  .catalog__btns {
    margin-top: 0;
    padding-bottom: 25px;
  }
  .scheme {
    padding-top: 20px;
    padding-bottom: 5px;
    
    .title {
      margin-top: 0;
      margin-bottom: 25px;
    }
  }
  .scheme__list {
    margin-top: 0;
  }
  .scheme__item {
    width: 50%;
    margin-bottom: 12px;
  }
  .scheme__text {
    width: ~"calc(100% - 40px)";
    font-size: 10px;
    line-height: 13px;
    
    i {
      width: 13px;
      height: 12px;
      margin-bottom: 15px;
      font-size: 9px;
      line-height: 12px;
    }
  }
  .scheme__icon {
    width: 35px;
  }
  .about {
    padding-top: 245px;
    padding-bottom: 0;
    background-image: url(../img/images/bg-1mobile.jpg);
    background-position: top center;
    background-size: 100% auto;
    
    .title {
      color: @green;
    }
  }
  .about__text {
    padding-bottom: 5px;
    font-size: 12px;
    line-height: 18px;
    border-bottom: 1px dotted #e6e6e6;
  }
  .blog {
    padding-top: 10px;
    padding-bottom: 20px;
  }
  .blog .title {
    margin-bottom: 15px;
    text-align: center;
  }
  .link {
    position: relative;
    top: 0;
    right: auto;
    left: 50%;
    transform: translateX(-50%);
    font-size: 12px;
    line-height: 1;
    
    &::after {
      height: 11px;
    }
  }
  .blog__list {
    margin-top: 0;
    margin-bottom: 0;
  }
  .blog__img {
    height: 200px;
  }
  .blog__item {
    font-size: 12px;
    line-height: 18px;
    
    time {
      font-size: 10px;
      line-height: 1;
    }
    .blog__title {
      margin-top: 0;
      margin-bottom: 10px;
    }
  }
  .blog__title {
    font-size: 14px;
    line-height: 19px;
  }
  .blog__more {
    font-size: 12px;
    line-height: 18px;
  }
  .modal {
    padding: 25px 15px;
  }
  .modal__title {
    color: @green;
    font-size: 18px;
    line-height: 1.2;
  }
  .form__label {
    font-size: 12px;
    line-height: 1.2;
  }
  .form__input {
    height: 34px;
    margin-bottom: 15px;
    border-radius: 2px;
  }
  .form__btns {
    margin-top: 20px;
  }
  .form__cancel {
    display: none;
  }
  .form__btn {
    width: 100%;
  }
  .menu__btn,
  .search {
    margin-left: 5px;
  }
  .sidebar__item a {
    display: block;
    font-size: 9px;
    line-height: 1.2;
  }
  .sidebar__item {
    margin-bottom: 10px;
  }
  .sidebar__menu {
    padding-bottom: 10px;
  }
  .catalog__select,
  .breadcrumbs {
    font-size: 9px;
  }
  h1 {
    color: @green;
  }
  .title-2,
  h2 {
    font-size: 15px;
    line-height: 1.2;
  }
  h1.title-2 {
    font-size: 22px;
  }
  .sidebar__close {
    top: 0;
    right: 0;
  }
  .catalog__sorting {
    padding-left: 0;
    top: -50px;
    
    span {
      display: none;
    }
  }
  .catalog__select {
    height: 44px;
  }
  .wrapper__content {
    padding-top: 5px;
  }
  .info {
    font-size: 12px;
    line-height: 18px;
  }
  .info .title-2 {
    margin-top: 30px;
  }
  .card__info .title-2 {
    color: #333;
  }
  .card__label {
    padding: 0 10px;
    font-size: 10px;
  }
  .card__newprice {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
    font-size: 20px;
  }
  .card__oldprice {
    display: block;
    font-size: 12px;
  }
  .card__btns {
    position: relative;
  }
  .card__btn {
    width: 100%;
    margin-right: 0;
  }
  .card__number {
    position: absolute;
    top: -70px;
    right: 0;
  }
  .tabs__title {
    flex-direction: column;
  }
  .tabs__name {
    width: 100%;
  }
  .tabs__field {
    padding-bottom: 20px;
    font-size: 12px;
    line-height: 18px;
  }
}
