@media (max-width: 1230px) {
  .wrapper {
    width: 100%;
  }
  .blog__item,
  .catalog__item {
    margin-right: 0;
  }
  .blog__list,
  .catalog__list {
    margin-right: 0;
    justify-content: space-around;
  }
  .menu__btn {
    display: block;
    width: 25px;
    height: 25px;
    margin-left: 15px;
    background-image: url(../img/icons/menu.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
  }
  .search__form,
  .menu__wrap {
    display: none;
  }
  .search__open {
    display: block;
    width: 25px;
    height: 25px;
    background-image: url(../img/icons/search.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .search {
    position: relative;
    margin-left: 15px;
  }
  .header__shop {
    display: block;
    position: relative;
    width: 25px;
    height: 25px;
    margin-left: auto;
    background-image: url(../img/icons/basket-green.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    
    span {
      display: block;
      position: absolute;
      top: -5px;
      right: -5px;
      width: 8px;
      height: 9px;
      color: #fff;
      text-align: center;
      font-size: 5px;
      line-height: 9px;
      border-radius: 50%;
      background-color: rgb(77, 148, 113);
    }
  }
}
