.wrapper {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  
  &--internal {
    padding-top: 30px;
  }
}

.wrapper__columns {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 25px;
  
  .catalog {
    position: relative;
    padding-top: 0;
    padding-bottom: 25px;
  }
  .catalog__list {
    margin-top: 0;
  }
}

.wrapper__content {
  width: ~"calc(100% - 300px)";
}

.link {
  position: absolute;
  top: 15px;
  right: 25px;
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  line-height: 1;
  color: @green;
  
  &::after {
    content: "";
    width: 7px;
    height: 13px;
    margin-left: 15px;
    display: inline-block;
    vertical-align: middle;
    background-image: url(../img/icons/arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }
}
